<div id="toolbarDiv">
  <a routerLink="patientSearch" routerLinkActive="selectedToolbarButton">
    <img src="../../assets/icons/patient-search.png" title="Patient Search" />
  </a>
  <a routerLink="chartSearch" routerLinkActive="selectedToolbarButton">
    <img src="../../assets/icons/chart-search.png" title="Chart Search" />
  </a>
  <a routerLink="scheduledPatientSearch" routerLinkActive="selectedToolbarButton">
    <img src="../../assets/icons/scheduled-patient-search.png" title="Scheduled Patient Search" />
  </a>
</div>
