<div id="toolbarDiv">
  <img src="../../assets/icons/patient-search.png" title="Patient Search"
  (click)="onPatientSearchClicked()"
  [class.selectedToolbarButton]="isPatientSearch"/>
  <img src="../../assets/icons/chart-search.png" title="Chart Search"
  (click)="onChartSearchClicked()"
  [class.selectedToolbarButton]="isChartSearch" />
  <img src="../../assets/icons/scheduled-patient-search.png" title="Scheduled Patient Search"
  (click)="onScheduledPatientSearchClicked()"
  [class.selectedToolbarButton]="isScheduledPatientSearch" />
</div>
