<div id="scheduledPatientSearchDiv" fxLayout="column">
  <div id="scheduledPatientSearchToolbarDiv">
    <h1>Scheduled Patient Search</h1>
  </div>
  <div id="scheduledPatientSearchContentDiv" fxFlex fxLayout="row">
    <div id="scheduledPatientSearchPanelDiv" fxFlex="20%">
      <app-scheduled-patient-search-panel></app-scheduled-patient-search-panel>
    </div>
    <div id="scheduledPatientSearchResultsListDiv" fxFlex>
      <app-scheduled-patient-search-results-list></app-scheduled-patient-search-results-list>
    </div>
  </div>
</div>
