h1
{
  margin:0px;
}
#patientSearchDiv
{
  width:100%;
  height:100%;
  background-color:bisque;
}
#patientSearchContentDiv
{
  border-top:1px solid black;
}
#patientSearchPanelDiv
{
  border-right:1px solid black;
}
